<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>문의게시판</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <style>
        body {
            margin: 0;
            padding: 0;
            display: flex; /* 페이지 중앙 정렬을 위해 flexbox 사용 */
            justify-content: center; /* 가로 중앙 정렬 */
            align-items: flex-start; /* 세로 상단 정렬 */
            min-height: 100vh; /* 최소 높이를 100vh로 설정 */
            height: auto; /* 높이는 자동으로 설정 */
            background-color: #f8f9fa; /* 배경색 추가 */
        }
        table {
           <!-- font-family: futura-pt, sans-serif;
            font-weight: 400;
            font-style: normal;-->
            border-collapse: collapse;
            width: 100%;
            border-radius: 15px;
            overflow:hidden

        }
        .table tr {
            border-bottom: 1px solid #ddd; /* 테두리 가볍게 설정 */
        }

        .container {
            margin: auto; /* 가로 중앙 정렬 */
            background-color: white; /* 배경색 추가 */
            padding: 20px; /* 내부 여백 */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
            border-radius: 8px; /* 모서리를 둥글게 */
        }

        .btn {
           background-color: #86AB89;
        }
    </style>
</head>
<body>
    <div class="col-9 mx-auto pt-3">
        <h3><b>문의게시판</b></h3>
        <hr>
        <div class="row ">
            <!-- 검색부분 -->
            <form>
                <div class="d-flex justify-content-end">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="myboardList" onchange="myBoardList()">
                        <label class="form-check-label"  >내글만 보기</label>
                    </div>
                </div>
                <div class="input-group ms-auto" style="width: 400px;">
                    <select name="searchField" class="form-control">
<!--                        <option value="">제목</option>-->
<!--                        <option value="">내용</option>-->
<!--                        <option value="">작성자</option>-->
                        <option value="title" th:selected="${searchField == 'title'}">제목</option>
                        <option value="content" th:selected="${searchField == 'content'}">내용</option>
                        <option value="nick" th:selected="${searchField == 'nick'}">작성자</option>
                    </select>
                    <input type="text" name="searchWord" class="form-control" style="width: 150px;"/>
                    <button class="btn btn-outline-secondary" type="submit" style="background-color: white;"><i class="bi bi-search" style='font-size:15px'></i></button>
                </div>
            </form>
        </div>
        <div class="row mt-3 mx-1">
            <!-- 게시판리스트부분 -->
            <div class="container">
                <table class="table table-borderless table-hover ">
                    <colgroup>
                        <col width="60px"/>
                        <col width="*" />
                        <col width="100px" />
                        <col width="110px" />
                        <col width="110px" />
                        <col width="80px" />
                        <col width="80px" />
                    </colgroup>
                    <thead>
                    <tr class="text-center" style="background-color: #C1E2A4; ">
                        <th>번호</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>작성일</th>
                        <th>답변여부</th>
                        <th>조회수</th>
                        <th>댓글</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:if="${#lists.isEmpty(list)}">
                            <td class="text-center" colspan="7">
                                등록된 게시글이 없습니다.
                            </td>
                        </tr>
                        <tr th:each="inquiryBoard, iterStat  : ${list}">
                            <td class="text-center" th:text="${totalCount - ((currentPage -1) * pageSize) - iterStat.index}">글번호</td>
<!--                            <td class="text-center" th:text="${inquiryBoard.qidx}"></td> &lt;!&ndash; 글번호 &ndash;&gt;-->
                            <td class="text-left"><a th:text="${inquiryBoard.title}" th:href="@{inquiryboard/view(qidx=${inquiryBoard.qidx})}"></a><i class="bi bi-lock-fill"></i></td> <!-- 제목 -->
                            <td class="text-center" th:text="${inquiryBoard.nick}">작성자</td>
                            <td class="text-center" th:text="${inquiryBoard.createDate}">작성일</td>
                            <td class="text-center">답변대기</td> <!-- 답변여부 -->
                            <td class="text-center" th:text="${inquiryBoard.viewCount}">조회수</td>
                            <td class="text-center">9</td> <!-- 댓글 -->
                        </tr>
                    </tbody>
                </table>
                <div class="col d-flex justify-content-end">
                    <!-- 각종 버튼 부분 -->
                    <button type="button" class="btn text-white" onclick="location.href='/inquiryboard';">리스트보기</button>
                    &nbsp;&nbsp;
                    <button type="button" class="btn text-white" onclick="location.href='/inquiryboard/writeform';">글등록</button>
                    &nbsp;&nbsp;
                    <button type="button" class="btn text-white" style="background-color: #86AB89;">답글쓰기</button>
                    &nbsp;&nbsp;
                </div>

                <!-- 페이징 부분 -->
                <nav aria-label="Page navigation example" class="d-flex justify-content-center">
                    <ul class="pagination">
                        <li th:if="${currentPage > 1} ? 'disabled'" class="page-item">
                            <a class="page-link" th:href="@{/inquiryboard(page=${currentPage - 1}, searchField=${searchField}, searchWord=${searchWord})}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li th:each="page : ${#numbers.sequence(currentGroup * 5 + 1, totalPage)}"
                            th:if="${page <= (currentGroup + 1) * 5}"
                            th:class="${page == currentPage} ? 'active' : ''">
                            <a th:href="@{/inquiryboard(page=${page}, searchField=${searchField}, searchWord=${searchWord})}" th:text="${page}" class="page-link"></a>
                        </li>

                        <!-- 다음 버튼: 현재 페이지가 마지막 페이지일 경우 비활성화 -->
                        <li th:if="${currentPage < totalPage}" class="page-item">
                            <a class="page-link" th:href="@{/inquiryboard(page=${currentPage + 1}, searchField=${searchField}, searchWord=${searchWord})}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div> <!--컨테이너 끝-->
        </div>
    </div>
</body>
</html>